In [15]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('kc_house_data.csv')

In [10]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [17]:
df = df.dropna()

In [18]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [19]:
df = df[['sqft_living','sqft_lot','sqft_above','sqft_basement','price']]

In [20]:
df

       sqft_living  sqft_lot  sqft_above  sqft_basement     price
0             1180      5650      1180.0              0  221900.0
1             2570      7242      2170.0            400  538000.0
2              770     10000       770.0              0  180000.0
3             1960      5000      1050.0            910  604000.0
4             1680      8080      1680.0              0  510000.0
...            ...       ...         ...            ...       ...
21608         1530      1131      1530.0              0  360000.0
21609         2310      5813      2310.0              0  400000.0
21610         1020      1350      1020.0              0  402101.0
21611         1600      2388      1600.0              0  400000.0
21612         1020      1076      1020.0              0  325000.0

[21611 rows x 5 columns]

In [21]:
x = df[['sqft_living','sqft_lot','sqft_above','sqft_basement']]
y = df['price']

In [22]:
# Adding a column of ones to X for the intercept term
x = np.append(np.ones((x.shape[0],1)),x,axis=1)

In [23]:
def cost_function(x,y,theta):
    m = len(y) # number of samples
    predictions = x.dot(theta) #predictions of the model
    errors = predictions - y #errors of the predictions
    cost = (1/(2*m)) * np.sum(errors**2) # mean squared error
    return cost

In [35]:
def gradient_descent(x,y,theta,alpha,iterations):
    m = y.size # number of samples
    theta = np.zeros((x.shape[1],1)) # initializing theta with zeroes
    cost_history = []
    
    for i in range(iterations):
        predictions = np.dot(x,theta)
        
        cost = (1/(2*m))*np.sum(np.square(predictions-y))
        d_theta = (1/m)*np.dot(x.T, predictions-y)
        theta = theta - alpha * d_theta # updating theta values
        cost_history.append(cost)
    return theta, cost_history

In [36]:
# setting the learning rate and number of iterations
alpha = 0.001
iterations = 100

In [37]:
# performing gradient descent and getting final theta and cost history
theta, cost_history = gradient_descent(x,y,theta,alpha,iterations)

ValueError: Data must be 1-dimensional

In [38]:
theta

array([nan, nan, nan, nan, nan])

In [34]:
cost_history

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]